<!DOCTYPE html>
<html lang="ru">

<head>

	<meta charset="utf-8">
	<title>Raw Balance - About</title>
	<meta name="description" content="New Site by UXCode">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<link rel="icon" href="images/favicon.ico">
	<meta property="og:image" content="images/dest/preview.jpg">

	<!-- Custom Browsers Color Start -->
	<meta name="theme-color" content="#000">
	<!-- Custom Browsers Color End -->

	<link rel="stylesheet" href="css/app.min.css">


</head>

<body class="inside-page">

	<!-- Developed by UxCodes -->


	<!-- <div class="loader" id="page-loader">
		<div class="preloader__wrapper">
			<div class="prelaoder-block"></div>
			<div class="prelaoder-block"></div>
			<div class="prelaoder-block"></div>
			<div class="prelaoder-block"></div>
			<div class="prelaoder-block"></div>
		</div>
	</div> -->

	<div class="wrapper">
		<main class="main__content">


			<div class="top__line">
				<div class="container">
					<div class="row align-items-center">
						<div class="col-lg-2 col-4">
							<a href="/" class="top__line-brand">
								<picture>
									<source srcset="images/dest/logo.webp" type="image/webp">
									<source srcset="images/dest/logo.png" type="image/png">
									<img src="images/dest/logo.png" alt="Raw Balance">
								</picture>
							</a>
						</div>
						<!-- /.col-lg-2 -->
						<div class="col-lg-7 col-8">
							<div class="hamburger-wrapper d-block d-lg-none">
								<button class="hamburger hamburger--collapse" type="button">
									<span class="hamburger-box">
										<span class="hamburger-inner"></span>
									</span>
								</button>
							</div>
							<!-- /.hamburger-wrapper -->
							<nav class="top__line-nav d-lg-block d-none">
								<ul class="nav">
									<li class="nav__li"><a href="#" class="nav__link">Home</a></li>
									<li class="nav__li"><a href="#" class="nav__link">About us</a></li>
									<li class="nav__li"><a href="#" class="nav__link">Products</a></li>
									<li class="nav__li"><a href="#" class="nav__link">Meats</a></li>
									<li class="nav__li"><a href="#" class="nav__link">Contacts</a></li>
								</ul>
							</nav>
							<!-- /.top__line-nav -->
						</div>
						<!-- /.col-lg-7 -->
						<div class="col-lg-3 d-lg-flex d-none">
							<ul class="top__line-account d-lg-flex d-none">
								<li class="account__li"><a href="#" class="account__link">Login</a></li>
								<li class="account__li btn-border"><a href="#" class="account__link">Sign in</a></li>
							</ul>
							<!-- /.top__line-account -->
						</div>
						<!-- /.col-lg-3 -->
					</div>
					<!-- /.row -->
				</div>
				<!-- /.container -->
			</div>
			<!-- /.top__line -->

			<div class="inside__wrapper products">
				<div class="container">
					<div class="row">
						<div class="col-12">
							<h2>Meats</h2>
						</div>
						<!-- /.col-12 -->
					</div>
					<!-- /.row -->
				</div>
				<!-- /.container -->

				<section class="section s-products">
					<div class="container">
						<div class="products__wrapper">
							<div class="row">

								<div class="col-lg-3">
									<div class="products__items" data-cat="beef">
										<div class="products__items-img">
											<img src="images/dest/products/1.jpg" alt="Honeycomb Tripe">
										</div>
										<!-- /.products__items-img -->
										<h4 class="products__items-title">Honeycomb Tripe</h4>
										<!-- /.products__items-title -->
										<p class="products__items-desc">This is clean white honeycomb tripe, made from fresh...</p>
										<!-- /.products__items-desc -->
										<div class="products__items-bottom">
											<div class="price">C$ 6.00</div>
											<!-- /.price -->
											<a href="#" class="btn">Buy</a>
										</div>
										<!-- /.products__items-bottom -->
									</div>
									<!-- /.products__items -->
								</div>
								<!-- /.col-lg-3 -->
								<div class="col-lg-3">
									<div class="products__items" data-cat="chicken">
										<div class="products__items-img">
											<img src="images/dest/products/1.jpg" alt="Honeycomb Tripe">
										</div>
										<!-- /.products__items-img -->
										<h4 class="products__items-title">Honeycomb Tripe</h4>
										<!-- /.products__items-title -->
										<p class="products__items-desc">This is clean white honeycomb tripe, made from fresh...</p>
										<!-- /.products__items-desc -->
										<div class="products__items-bottom">
											<div class="price">C$ 6.00</div>
											<!-- /.price -->
											<a href="#" class="btn">Buy</a>
										</div>
										<!-- /.products__items-bottom -->
									</div>
									<!-- /.products__items -->
								</div>
								<!-- /.col-lg-3 -->
								<div class="col-lg-3">
									<div class="products__items" data-cat="beef">
										<div class="products__items-img">
											<img src="images/dest/products/1.jpg" alt="Honeycomb Tripe">
										</div>
										<!-- /.products__items-img -->
										<h4 class="products__items-title">Honeycomb Tripe</h4>
										<!-- /.products__items-title -->
										<p class="products__items-desc">This is clean white honeycomb tripe, made from fresh...</p>
										<!-- /.products__items-desc -->
										<div class="products__items-bottom">
											<div class="price">C$ 6.00</div>
											<!-- /.price -->
											<a href="#" class="btn">Buy</a>
										</div>
										<!-- /.products__items-bottom -->
									</div>
									<!-- /.products__items -->
								</div>
								<!-- /.col-lg-3 -->
								<div class="col-lg-3">
									<div class="products__items" data-cat="organs">
										<div class="products__items-img">
											<img src="images/dest/products/1.jpg" alt="Honeycomb Tripe">
										</div>
										<!-- /.products__items-img -->
										<h4 class="products__items-title">Honeycomb Tripe</h4>
										<!-- /.products__items-title -->
										<p class="products__items-desc">This is clean white honeycomb tripe, made from fresh...</p>
										<!-- /.products__items-desc -->
										<div class="products__items-bottom">
											<div class="price">C$ 6.00</div>
											<!-- /.price -->
											<a href="#" class="btn">Buy</a>
										</div>
										<!-- /.products__items-bottom -->
									</div>
									<!-- /.products__items -->
								</div>
								<!-- /.col-lg-3 -->
								<div class="col-lg-3">
									<div class="products__items" data-cat="organs">
										<div class="products__items-img">
											<img src="images/dest/products/1.jpg" alt="Honeycomb Tripe">
										</div>
										<!-- /.products__items-img -->
										<h4 class="products__items-title">Honeycomb Tripe</h4>
										<!-- /.products__items-title -->
										<p class="products__items-desc">This is clean white honeycomb tripe, made from fresh...</p>
										<!-- /.products__items-desc -->
										<div class="products__items-bottom">
											<div class="price">C$ 6.00</div>
											<!-- /.price -->
											<a href="#" class="btn">Buy</a>
										</div>
										<!-- /.products__items-bottom -->
									</div>
									<!-- /.products__items -->
								</div>
								<!-- /.col-lg-3 -->
								<div class="col-lg-3">
									<div class="products__items" data-cat="bones">
										<div class="products__items-img">
											<img src="images/dest/products/1.jpg" alt="Honeycomb Tripe">
										</div>
										<!-- /.products__items-img -->
										<h4 class="products__items-title">Honeycomb Tripe</h4>
										<!-- /.products__items-title -->
										<p class="products__items-desc">This is clean white honeycomb tripe, made from fresh...</p>
										<!-- /.products__items-desc -->
										<div class="products__items-bottom">
											<div class="price">C$ 6.00</div>
											<!-- /.price -->
											<a href="#" class="btn">Buy</a>
										</div>
										<!-- /.products__items-bottom -->
									</div>
									<!-- /.products__items -->
								</div>
								<!-- /.col-lg-3 -->
								<div class="col-lg-3">
									<div class="products__items" data-cat="organs">
										<div class="products__items-img">
											<img src="images/dest/products/1.jpg" alt="Honeycomb Tripe">
										</div>
										<!-- /.products__items-img -->
										<h4 class="products__items-title">Honeycomb Tripe</h4>
										<!-- /.products__items-title -->
										<p class="products__items-desc">This is clean white honeycomb tripe, made from fresh...</p>
										<!-- /.products__items-desc -->
										<div class="products__items-bottom">
											<div class="price">C$ 6.00</div>
											<!-- /.price -->
											<a href="#" class="btn">Buy</a>
										</div>
										<!-- /.products__items-bottom -->
									</div>
									<!-- /.products__items -->
								</div>
								<!-- /.col-lg-3 -->
								<div class="col-lg-3">
									<div class="products__items" data-cat="bones">
										<div class="products__items-img">
											<img src="images/dest/products/1.jpg" alt="Honeycomb Tripe">
										</div>
										<!-- /.products__items-img -->
										<h4 class="products__items-title">Honeycomb Tripe</h4>
										<!-- /.products__items-title -->
										<p class="products__items-desc">This is clean white honeycomb tripe, made from fresh...</p>
										<!-- /.products__items-desc -->
										<div class="products__items-bottom">
											<div class="price">C$ 6.00</div>
											<!-- /.price -->
											<a href="#" class="btn">Buy</a>
										</div>
										<!-- /.products__items-bottom -->
									</div>
									<!-- /.products__items -->
								</div>
								<!-- /.col-lg-3 -->
							</div>
							<!-- /.row -->

						</div>
						<!-- /.products__wrapper -->
					</div>
					<!-- /.container -->
				</section>
				<!-- /.section s-products -->

			</div>
			<!-- /.inside__wrapper -->

		</main>
		<!-- /.main__content -->

		<footer class="main__footer">
			<div class="footer__line">
				<div class="container">
					<div class="row align-items-center">
						<div class="col-lg-2">
							<a href="#" class="brand">
								<picture>
									<source srcset="images/dest/logo.webp" type="image/webp">
									<source srcset="images/dest/logo.png" type="image/png">
									<img src="images/dest/logo.png" alt="RawBalance">
								</picture>
							</a>
							<!-- /.brand -->
						</div>
						<!-- /.col-lg-2 -->
						<div class="col-lg-7">
							<div class="footer__line-center">
								<div class="footer__line-link">
									<a href="#">Privacy Policy</a>
								</div>
								<!-- /.footer__line-link -->
								<div class="footer__line-copy">© RAW BALANCE, 2020. Copyright all rights reserved</div>
							</div>
							<!-- /.footer__line-center -->
						</div>
						<!-- /.col-lg-7 -->
						<div class="col-lg-3">
							<div class="footer__line-right">
								<div class="footer__line-phone">
									<a href="tel:"><i class="fa fa-phone"></i>+1 (416) 669-06-19</a>
								</div>
								<!-- /.footer__line-phone -->
							</div>
							<!-- /.footer__line-right -->
						</div>
						<!-- /.col-lg-3 -->
					</div>
					<!-- /.row -->
				</div>
				<!-- /.container -->
			</div>
			<!-- /.footer__line -->
		</footer>
		<!-- /.main__footer -->

	</div>
	<!-- /.wrapper -->


	<script src="js/app.min.js"></script>

	<!-- Developed by UxCodes -->

</body>

</html>